[submodule "External/DirectX-Headers"]
	path = External/DirectX-Headers
	url = https://github.com/microsoft/DirectX-Headers.git
[submodule "External/DirectXTK12"]
	path = External/DirectXTK12
	url = https://github.com/microsoft/DirectXTK12
